.NavBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3em;
    
}
.NavBar-logo{
    justify-content: left;
    font-size: 2em;
}
h3{
    font-size: 1em; 
}

.Categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Button {
    margin: 0 40px 20px;
    width: auto;
    padding: 12px;
    font-size: 2em;
    background: blue;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    outline: inherit;
}
.LoggaIn {
    display: flex;

    justify-content: right;
}
.LoggaInButton {
    margin: 0 40px 20px;
    width: auto;
    padding: 12px;
    font-size: 2em;
    background: red;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    outline: inherit;
}

.App {
    text-align: left;
}
.App-logo {
    text-align: center;
    height: 3em;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
    animation: App-logo-spin infinite 20s linear;
    }
}
@keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
