
h3{
    font-size: 1em; 
}
.Button {
    margin: 0 40px 20px;
    width: auto;
    padding: 12px;
    font-size: 2em;
    background: blue;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    outline: inherit;
}